body{ background:url(../images/bkg-header2.png) top repeat-x;}

#demoWrapper{ background:url(../images/bkg.jpg) top no-repeat; width:1000px; height:922px; margin:0 auto; position:relative;}
#demoWrapper2{width:1000px;margin:0 auto; position:relative;}

