ul{ list-style:none; width:500px;}
li>h3{ cursor:pointer;}
li{ height:40px; display:block; padding:0; margin:0; height:40px; overflow:hidden;
/* CSS3 Transition Effect */
    
}
li:hover{ height:280px;transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;}
li>div{ height:250px;}